repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-json
  - id: check-yaml
- repo: https://github.com/anaconda/pre-commit-hooks
  rev: v26.1.0
  hooks:
  - id: cog
    files: README.md|Makefile
  # TODO(mattkram): Disabled since annotations are generated and causing an issue
  # - id: generate-renovate-annotations
- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.16.0
  hooks:
  - id: pretty-format-toml
    args: [--autofix]
  - id: pretty-format-yaml
    args: [--autofix]
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.13
  hooks:
    # lint & attempt to correct failures
  - id: ruff
    args: [--fix, --show-fixes]
  - id: ruff-format
#- repo: https://github.com/pre-commit/mirrors-eslint
#  rev: v9.2.0
#  hooks:
#  - id: eslint
#    additional_dependencies:
#    - eslint@>=9.0.0
#    - eslint-config-google@latest
- repo: https://github.com/asottile/pyupgrade
  rev: v3.21.2
  hooks:
  - id: pyupgrade
    args: [--py39-plus]
- repo: meta
  hooks:
  - id: check-hooks-apply
  - id: check-useless-excludes
