name: '[CI] Test'

on:
  # Caches have a certain level of isolation, see https://docs.github.com/en/actions/using-workflows/caching-dependencies-to-speed-up-workflows#restrictions-for-accessing-a-cache
  # We run on push to main to have all caches in the main branch so that they can be reused for PRs.
  push:
    branches:
    - main
  merge_group:
  pull_request:

# Cancel a previous job if the same workflow is triggers on the same PR or commit.
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

    - uses: MyAlbum/purge-cache@881eb5957687193fa612bf74c0042adc78ea5e54 # v2.2.0
      with:
        max-age: 604800 # Leave only caches accessed in the last 7 days (default)

    - uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5.0.2
      id: cache-env
      with:
        path: |
          ./env
        key: conda-env|${{ hashFiles('environment-dev.yml') }}

    - name: Setup conda environment
      if: steps.cache-env.outputs.cache-hit != 'true'
      run: make setup

    - name: Run static type check
      run: make type-check

    - name: Run tests
      run: make test

    - name: Report coverage
      id: coverage
      if: ${{ !cancelled() }}
      uses: MishaKav/pytest-coverage-comment@ae0e8a539a3f310aefb3bfb6a2209778a21fa42b # v1.2.0
      with:
        title: Coverage Report
        pytest-xml-coverage-path: ./coverage.xml
